/vendor
/node_modules
.env
.env.backup
.env.production
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
/public/hot
/public/storage
Homestead.json
Homestead.yaml
auth.json
